<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>CLASSICAL GUITAR</h1>
        <p>Homepage</p>
    </div>
    <ul>
      <li><a href="/griddemo">Demo of Bootstrap Grid system</a></li>
      <li><a href="/MKNews">Miloš Karadaglić Returns After a Devastating Hand Injury</a></li>

    </ul>
<%- include('bootfooter') -%>
