<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>DAYS MATTER MANAGER</h1>
        <p>Homepage</p>
    </div>
    <ul>
      <li><a href="/matternew">Create New Days Matter</a></li>
    </ul>
    <ul>
      <li><a href="/recipes">Recipe Page for Quiz3</a></li>
    </ul>

<%- include('bootfooter') -%>
