<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>DAYS MATTER MANAGER</h1>
        <p>Homepage</p>
    </div>
    <ul>
      <li><a href="#">Show My Days Matters</a></li>
      <li><a href="/new">Create New Days Matter</a></li>

    </ul>
<%- include('bootfooter') -%>
