<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>My Days Matter</h1>
        <p>List Page</p>
    </div>

    You entered the following ..<br>

    The comments were: <br> <%= coms %>

<%- include('bootfooter') -%>
