<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Miloš Karadaglić Returns After a Devastating Hand Injury</h1>
        <p>JUNE 10, 2019</p>
        <p>Comment page</p>
    </div>

    <p><img src="images/Milos001.jpg" width="50%"></p>

    <p>Picture Source is here: https://classicalguitarmagazine.com/milos-karadaglic-returns-after-a-devastating-hand-injury/</p>

    <form method="post" action="/processform">
      Add a comment: <textarea name="theComments"></textarea>
      <input type="submit">
    </form>

<%- include('bootfooter') -%>
