<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Miloš Karadaglić Returns After a Devastating Hand Injury</h1>
        <p>JUNE 10, 2019</p>
        <p>Comment page</p>
    </div>

    You entered the following ..<br>

    The comments were: <br> <%= coms %>

<%- include('bootfooter') -%>
